<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="chickenPizzaRecipe" class="com.TW.spring.ioc.ChickenPizzaRecipe"/>
    <bean id="baconPizzaRecipe" class="com.TW.spring.ioc.BaconPizzaRecipe"/>
    <bean id="pizzaRecipeService" class="com.TW.spring.ioc.PizzaRecipeService">
        <property name="pizzaRecipe">
            <ref local="baconPizzaRecipe" />
        </property>
    </bean>
</beans>